# Global ignore for RAG_DEMO
.vscode/
.DS_Store
Thumbs.db
*.log

# Node.js / Next.js
node_modules/
npm-debug.log*
yarn-error.log*
.next/
out/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Build artifacts
*.egg-info/
build/
dist/

# Cache
.cache/
.temp/

# OS files
ehthumbs.db
Icon?

#self files
self_memo.md
